@page "/posts"
@using BlazoR.Domain.Models

@*@foreach (var item in collection)
{

}*@
<div class="container-fluid">
    <div class="row">
        <p>
            <img src="https://avatars.mds.yandex.net/get-pdb/1738868/f6a93b57-93f5-42ee-bb54-2e39a5b0af34/s1200" border="0">
        </p>
    </div>
</div>

@code{
    //List<Post> posts = ;

}
